<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
          </div>
        </div>
      </header>
    <div class="container mt-4 row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="flex-shrink-0 p-3" style="width: 280px;">
                {% comment %} <a href="/"
                    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                    <svg class="bi pe-none me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Collapsible</span>
                </a> {% endcomment %}
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            <h2>Inbox</h2>
                        </button>
                        <div class="collapse show" id="home-collapse" style="">
            
                            <ul>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Primary</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Social</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Promotions</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Starred</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <h2>Sent</h2>
                        </button>
                        <div class="collapse" id="dashboard-collapse">
            
                            <ul>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Primary</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Social</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Promotions</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            <h2>Other Folders</h2>
                        </button>
                        <div class="collapse" id="orders-collapse">
            
                            <ul>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Outbox</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Drafts</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Spam</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Trash</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            <h2>Calendar</h2>
                        </button>
                        <div class="collapse" id="orders-collapse">
            
                            <ul>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">View Calendar</a></li>
                            </ul>
            
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            <h2>Account</h2>
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Account Settings</a></li>
                                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Notification Settings</a></li>
                            </ul>
            
                        </div>
                    </li>
                </ul>
            </div>
            
            
         </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
